[submodule "external/aegnn"]
	path = external/aegnn
	url = https://github.com/uzh-rpg/aegnn
[submodule "prophesee_automotive_dataset_toolbox"]
	path = prophesee_automotive_dataset_toolbox
	url = https://github.com/prophesee-ai/prophesee-automotive-dataset-toolbox
